[submodule "native/godot-cpp"]
	path = native/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.5
[submodule "native/thirdparty/tree-sitter"]
	path = native/thirdparty/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "native/thirdparty/tree-sitter-gdscript"]
	path = native/thirdparty/tree-sitter-gdscript
	url = https://github.com/PrestonKnopp/tree-sitter-gdscript
