# Godot 4+ specific ignores
.godot/
*.translation
*.import

# Godot-CPP specific ignores
native/godot-cpp/gen/
native/godot-cpp/bin/
native/godot-cpp/src/gen/

# SCons
.sconsign.dblite

# Compiled Object files
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exp
*.pdb

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/
!.vscode/c_cpp_properties.json

# OS generated
.DS_Store
Thumbs.db

# Binaries
godot_project/addons/nano_coverage_godot/bin/
bin/
native/bin/

# Godot Executable
Godot_*.exe
Godot_*.zip
godot.zip


# SCons / Godot-CPP build artifacts
*.os
*.o
*.obj
*.a
*.lib

# Shared Libraries (The final binaries)
# (Optional: Keep this commented if you WANT to commit the compiled extension)
# *.dll
# *.so
# *.dylib
# *.gdextension

# Godot 4 Temporary folder
.godot/
.scons_env.json
.sconsign.dblite

# IDEs

.idea/
*.sln
*.vcxproj
*.vcxproj.user
output_report.txt


instrumented
native/thirdparty/googletest
compile_commands.json
native/compile_commands.json


# Ignore the test-specific binary in the bin folder
godot_project/addons/nano_coverage_godot/bin/nano_coverage_tests*

# Ignore object files in the src directory (since we compile in-place effectively)
native/src/**/*.o
native/src/**/*.os

godot_project/coverage-report/*
godot_project/nanovision.exe
godot_project/coverage.lcov

godot_project/coverage.data
godot_project/coverage.meta
godot_project/test_log.txt
godot_project/coverage_data/coverage.meta
godot_project/coverage_data/default/runs/1770584366-41.covdata
